<html lang="en">
<head>
    <!-- <meta> tags> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Home.Handlebars Page</title>
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>


</head>

<body>
    <div class="container">
        <h1>Click Presentation Name for Speaker Details:</h1>
        <table>
            <div id="root"></div>
        </table>
    </div>

    <script type="text/babel">

    const SpeakerList = (props) => {
    const listItems = props.data.map((item) =>
        <li key={item._id} onClick={props.selectItem}> {item.name} </li>);
            return <ul>{listItems}</ul>
            }

    const ItemDetail = (props) => {
        return (
        <div>
        <h2>Details: </h2>
        <ul>
            <li><p>{props.details.name} </p> </li>
        </ul>
        </div>        
        );}

    class SpeakerApp extends React.Component {
        constructor(props) {
        super(props);
        this.state = {
            items: {{{speakers}}},
            currentItem: {}
        };
        this.selectItem = this.selectItem.bind(this);}

    selectItem = (event) => {
        console.log(item.name);
        console.log(event.target.innerText);
    const found = this.state.items.find((item) => {
        return item.name === event.target.innerText
        });
        this.setState({currentItem: found})
        }
        render() {
        return ( 
            <div>
            <SpeakerList data={this.state.items} selectItem={this.selectItem} /> 
            <ItemDetail details={this.state.currentItem} />
            </div>
            );
        }
    }

    ReactDOM.render(  <SpeakerApp />,  document.getElementById('root') );

    </script>

</body>
</html>